fastapi
uvicorn
python-dotenv
boto3
chromadb
tiktoken
litellm
google-generativeai
openai
anthropic
numpy
scikit-learn
mistralai
docling
pinecone-client
langchain
nltk
sentence-transformers==2.2.2
transformers==4.32.0
huggingface_hub==0.13.3


