fastapi
uvicorn
python-dotenv
boto3
chromadb
tiktoken
litellm
google-generativeai
openai
anthropic
numpy
sentence-transformers>=2.2.2
scikit-learn
mistralai
docling
pinecone-client
langchain
nltk
transformers>=4.33.0
