fastapi
uvicorn
python-dotenv
boto3
chromadb
tiktoken
litellm
google-generativeai
openai
anthropic
numpy
scikit-learn
mistralai
docling
pinecone-client
langchain
nltk
sentence-transformers @ git+https://github.com/UKPLab/sentence-transformers.git@master#egg=sentence-transformers
transformers==4.33.3


